RewriteEngine On
RewriteCond %{REQUEST_URI} ^/defaultsite$
RewriteRule ^.*$ / [R=301,L]

Options -MultiViews

RewriteCond %{REQUEST_URI} !^/backend/ [NC]
RewriteCond %{REQUEST_URI} !^/backendv2/ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /index.html [L]

# Redsys InSite
SetEnv REDSYS_ENV production
SetEnv REDSYS_REST_URL https://sis.redsys.es/sis/rest/iniciaPeticionREST
SetEnv REDSYS_TRATA_URL https://sis.redsys.es/sis/rest/trataPeticionREST
SetEnv REDSYS_MERCHANT_URL https://manpowers.es/backendv2/response.php
SetEnv REDSYS_MERCHANT_CODE 367858511
SetEnv REDSYS_TERMINAL 1
SetEnv REDSYS_CURRENCY 978
SetEnv REDSYS_TRANSACTION_TYPE 0
SetEnv REDSYS_OK_URL https://manpowers.es/pago-ok
SetEnv REDSYS_KO_URL https://manpowers.es/pago-ko
SetEnv REDSYS_MERCHANT_KEY eW2Hep6mOWuqMHOlWqdAti1SC8xOuIlw
SetEnv REDSYS_REALIZAR_PAGO_URL https://sis.redsys.es/sis/realizarPago
############################################################

############################################################

<IfModule mod_headers.c>
  Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
  Header set Pragma "no-cache"
  Header set Expires "0"
  # Para proxies/CDN compatibles
  Header set Surrogate-Control "no-store"
</IfModule>

# Evitar validadores de caché
FileETag None

<IfModule mod_expires.c>
  ExpiresActive Off
</IfModule>
